Repository AntimoMarrazzo/aiida-z2pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, tests

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

tests:
  name: pytest
  entry: pytest -v
  language: system
  stages:
  - push

Fixed all DeprecationWarnings
  _setup.py
  aiida_z2pack/calculations/utils/prepare_z2pack.py
  aiida_z2pack/calculations/utils/utils.py
  aiida_z2pack/parsers/z2pack.py
  aiida_z2pack/workchains/base.py
  aiida_z2pack/workchains/chern.py
  aiida_z2pack/workchains/parity.py
  aiida_z2pack/workchains/refine.py
  docs/source/user_guide/get_started/examples/z2pack_tutorial.rst
  tests/conftest.py
  tests/parsers/test_z2pack.py
Due: yapf, tests

Fixed more deprecation warnins
  aiida_z2pack/calculations/z2pack.py
  pyproject.toml
  tests/conftest.py
Due: tests

Removed cached file
  _setup.py
Due: yapf

Bumped version number
  aiida_z2pack/__init__.py
Due: yapf

Updated README
  README.md
Due: none

Fix for missing bandsx CalcJob in quantumespresso
  aiida_z2pack/__init__.py
  aiida_z2pack/workchains/parity.py
Due: yapf

Tested compatibility with core==2.2.2
  pyproject.toml
Due: none

Path conditions:
  yapf: any of: \.py$, but not: (?x)^(
  aiida_z2pack/calculations/.*|
  aiida_z2pack/parsers/.*|
  tests/.*|
  docs/.*|
  tests/.*(?<!\.py)$
)$

  tests: any of: tests/.* and \.py$
