Repository AntimoMarrazzo/aiida-z2pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, tests

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

tests:
  name: pytest
  entry: pytest -v
  language: system
  stages:
  - push

Fixed docstrings
  aiida_z2pack/workchains/chern.py
Due: yapf

Improved package compatibility
  setup.json
Due: none

Added workflow for Z2 invariant including parities
  aiida_z2pack/workchains/parity.py
  setup.json
Due: yapf

Fixed setup.py docstring
  setup.py
Due: yapf

Revert "Improved package compatibility"
  setup.json
  setup.py
Due: yapf

Small improvement to QSH workchain report
  aiida_z2pack/workchains/parity.py
Due: yapf

Added possibility to take mpi_command from settings
  aiida_z2pack/calculations/utils/prepare_z2pack.py
Due: none

Added possibility to define pw input command, e.g. -in or <
  aiida_z2pack/calculations/utils/prepare_z2pack.py
Due: none

Documentation for the Z2calc plugin WIP
  aiida_z2pack/calculations/utils/prepare_z2pack.py
  docs/source/index.rst
  docs/source/module_guide/aiida_z2pack.calculations.utils.rst
  docs/source/module_guide/aiida_z2pack.parsers.rst
  docs/source/module_guide/aiida_z2pack.rst
  docs/source/module_guide/calculations.rst
  docs/source/module_guide/modules.rst
  docs/source/module_guide/parsers.rst
  docs/source/module_guide/workchains.rst
  docs/source/user_guide/get_started/examples/pw_tutorial.rst
  docs/source/user_guide/get_started/examples/z2pack_tutorial.rst
  docs/source/user_guide/get_started/index.rst
Due: none

Finished adding documentation for Z2pack Calcjob and Base workchain.
  docs/source/conf.py
  docs/source/user_guide/get_started/examples/z2pack_tutorial.rst
  docs/source/user_guide/get_started/index.rst
Due: none

Modified Z2packBaseWorkChain to work with aiida-core 1.3.0 (BaseRestartWorkChain moved from aiida-qe to aiida-core)
  aiida_z2pack/workchains/base.py
Due: yapf

Added possibility to restart from previous z2pack calculation
  aiida_z2pack/workchains/base.py
Due: yapf

Automatically run z2pack if calculation with parities fails for presence of zeros.
  aiida_z2pack/workchains/parity.py
Due: yapf

Bug fix
  aiida_z2pack/workchains/parity.py
Due: yapf

Bug fix
  aiida_z2pack/workchains/base.py
Due: yapf

Missed default value not using lambda
  aiida_z2pack/workchains/parity.py
Due: yapf

Added restart of 'Z2QSHworkchain' from 'Z2packCalculation' remote_folder
  aiida_z2pack/workchains/parity.py
Due: yapf

Fixed test files
  tests/calculations/test_z2pack/test_input_files_base_no_soc_z2pack_aiida_py_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_z2pack_aiida_py_.in
Due: none

Bumb version number
  aiida_z2pack/__init__.py
Due: yapf

Fixed not giving error when failed GAP/MOV tol convergence.
  aiida_z2pack/workchains/base.py
Due: yapf

Fix for exception when setting a z2pack convergence to None
  aiida_z2pack/calculations/utils/prepare_z2pack.py
Due: none

Imporved Z2packBase error handling and enriched Workchain outputs
  aiida_z2pack/workchains/base.py
Due: yapf

Added check for Structure mismatch
  aiida_z2pack/workchains/parity.py
Due: yapf

Updated aiida-qe dependency
  setup.json
Due: none

Bump version number
  setup.json
Due: none

Update README.md
  README.md
Due: none

Updated test files to reflect changes in `prepare_z2pack.py`
  tests/calculations/test_z2pack/test_input_files_base_no_soc_z2pack_aiida_py_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_z2pack_aiida_py_.in
  tests/calculations/test_z2pack/test_input_files_base_z2pack_aiida_py_.in
Due: none

Minor fix
  aiida_z2pack/calculations/z2pack.py
Due: none

Adjusted dependencies
  setup.json
Due: none

Version number
  setup.json
Due: none

Updated dependencies after checking compatibility with aiida-core==1.6.5, aiida-quantumespresso==3.5.2, aiida-wannier90==2.0.1
  setup.json
Due: none

Reintroduced QE f90 files
  .gitignore
  modified_bands_QE6.x/bands.f90
  modified_bands_QE6.x/sym_band.f90
Due: none

Updated README to reflect cahnges to setup.json
  README.md
Due: none

Update setup.json
  setup.json
Due: none

Moved setup script to TOML
  pyproject.toml
  setup.json
  setup.py
Due: yapf

Fixed file regression test to ignore trailing endlines
  tests/calculations/test_z2pack.py
  tests/calculations/test_z2pack/test_input_files_base_no_soc_aiida_nscf_in_.in
  tests/calculations/test_z2pack/test_input_files_base_no_soc_aiida_pw2wan_in_.in
  tests/calculations/test_z2pack/test_input_files_base_no_soc_aiida_win_.in
  tests/calculations/test_z2pack/test_input_files_base_no_soc_z2pack_aiida_py_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_aiida_nscf_in_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_aiida_pw2wan_in_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_aiida_win_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_z2pack_aiida_py_.in
Due: tests

Fixed depend string
  pyproject.toml
Due: none

Removed compatibility features with python2
  aiida_z2pack/workchains/chern.py
  aiida_z2pack/workchains/functions.py
  aiida_z2pack/workchains/parity.py
Due: yapf

Path conditions:
  yapf: any of: \.py$, but not: (?x)^(
  aiida_z2pack/calculations/.*|
  aiida_z2pack/parsers/.*|
  tests/.*|
  docs/.*|
  tests/.*(?<!\.py)$
)$

  tests: any of: tests/.* and \.py$
