Repository AntimoMarrazzo/aiida-z2pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: &exclude >
      (?x)^(
        topologicalworkflows/.*|
        tests/.*(?<!\.py)$
      )$
  - id: double-quote-string-fixer
    exclude:
      (?x)^(
        topologicalworkflows/.*|
      )$

- repo: https://github.com/PyCQA/pydocstyle
  rev: 5.0.2
  hooks:
  - id: pydocstyle
    language: system
    types: [python]
    args: ['--ignore=D104,D202,D203,D204,D213','--ignore-decorators=classmethod']
    exclude:
      (?x)^(
        aiida_z2pack/calculations.*|
        aiida_z2pack/parsers/.*|
        topologicalworkflows/.*|
        docs/.*|
        utils/.*
      )$

- repo: local
  hooks:
  - id: yapf
    name: yapf
    entry: yapf
    language: system
    types: [python]
    args: ['-i']
    exclude: &exclude_files >
      (?x)^(
        aiida_z2pack/calculations/.*|
        aiida_z2pack/parsers/.*|
        topologicalworkflows/.*|
        tests/.*|
        docs/.*|
        tests/.*(?<!\.py)$
      )$
  - id: tests
    name: pytest
    entry: pytest -v
    language: system
    files: tests/.*
    types: [python]
    stages: [push]

- repo: https://github.com/python-modernize/python-modernize.git
  rev: '0.7'
  hooks:
  - id: python-modernize
    exclude: >
      (?x)^(
        topologicalworkflows/.*|
        docs/.*|
        examples/.*
      )$
    args:
      - --write
      - --nobackups

Updated readme file
  README.md
Due: none

Bump version number
  setup.json
Due: none

Removed old files
  .pre-commit-config.yaml
  topologicalworkflows/.gitignore
  topologicalworkflows/__init__.py
  topologicalworkflows/bands.x_plugin/Input/bands.py
  topologicalworkflows/bands.x_plugin/Output/bands.py
  topologicalworkflows/bands.x_plugin/contributors.txt
  topologicalworkflows/examples/MoS2/.run.py.swp
  topologicalworkflows/examples/MoS2/run.py
  topologicalworkflows/examples/template_input.py
  topologicalworkflows/modified_bands.x_QE5.2/bands.f90
  topologicalworkflows/modified_bands.x_QE5.2/contributors.txt
  topologicalworkflows/modified_bands.x_QE5.2/sym_band.f90
Due: none

Removed old method not anyomre used
  aiida_z2pack/calculations/z2pack.py
Due: none

Update README.md
  README.md
Due: none

tiny update to setup.json
  setup.json
Due: none

Draft of .travis.yml
  .travis.yml
Due: none

sklearn loose version in setup
  .travis.yml
  setup.json
Due: none

test
  setup.json
Due: none

sklearn->scikit-learn
  setup.json
Due: none

version of aiida_qe
  setup.json
Due: none

added reentry scan to travis.yml
  .travis.yml
Due: none

added Travis CI badge
  README.md
Due: none

Typo in yml travis
  .travis.yml
Due: none

removed aiida qe import in travis yml
  .travis.yml
Due: none

Added dev install for travis
  .travis.yml
Due: none

Fixed not commited empty test folder
  tests/parsers/fixtures/z2pack/failed_missing/.gitignore
Due: none

Fixed version number
  aiida_z2pack/__init__.py
Due: yapf

typo in readme for badge travis
  README.md
Due: none

again badge
  README.md
Due: none

Started working on docs using sphinx
  .gitignore
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
Due: none

WIP
  docs/source/conf.py
  docs/source/devel_guide/index.rst
  docs/source/images/AiiDA_transparent_logo.png
  docs/source/images/MARVEL.png
  docs/source/images/MaX.png
  docs/source/images/swissuniversities.png
  docs/source/index.rst
  docs/source/module_guide/aiida_z2pack.calculations.utils.rst
  docs/source/module_guide/aiida_z2pack.parsers.rst
  docs/source/module_guide/aiida_z2pack.rst
  docs/source/module_guide/calculations.rst
  docs/source/module_guide/index.rst
  docs/source/module_guide/modules.rst
  docs/source/module_guide/workchains.rst
  docs/source/user_guide/get_started/examples/pw_tutorial.rst
  docs/source/user_guide/get_started/examples/z2pack_tutorial.rst
  docs/source/user_guide/get_started/index.rst
  docs/source/user_guide/index.rst
Due: none

Added RefineCrossingsPosition WorkChain
  aiida_z2pack/workchains/functions.py
  aiida_z2pack/workchains/refine.py
  setup.json
Due: yapf

Minor fixes
  aiida_z2pack/workchains/functions.py
  aiida_z2pack/workchains/refine.py
Due: yapf

Removed explicit parameters
  aiida_z2pack/workchains/refine.py
Due: yapf

Fixed passing float instead of Float
  aiida_z2pack/workchains/refine.py
Due: yapf

Fixed bug where skips would be an empty array stopping the workchain
  aiida_z2pack/workchains/functions.py
Due: yapf

Added possibility to perform scf calculation
  aiida_z2pack/workchains/refine.py
Due: yapf

Also storing non_crossing points in final result
  aiida_z2pack/workchains/functions.py
Due: yapf

Now also saving gaps
  aiida_z2pack/workchains/functions.py
Due: yapf

Output remote folder of the scf calculation
  aiida_z2pack/workchains/refine.py
Due: yapf

Fixed calculation to bands with nosym
  aiida_z2pack/workchains/refine.py
Due: yapf

Calculation now keeps track of previously skipped nodes
  aiida_z2pack/workchains/functions.py
  aiida_z2pack/workchains/refine.py
Due: yapf

Fix scf_remote_folder should be optional
  aiida_z2pack/workchains/refine.py
Due: yapf

Fixed bug
  aiida_z2pack/workchains/chern.py
Due: yapf

Removed unused lines
  aiida_z2pack/calculations/utils/prepare_wannier90.py
Due: none

Added possibility to perform calculation without spinorbit.
  aiida_z2pack/calculations/z2pack.py
  tests/calculations/test_z2pack.py
  tests/calculations/test_z2pack/test_input_files_base_no_soc_aiida_nscf_in_.in
  tests/calculations/test_z2pack/test_input_files_base_no_soc_aiida_pw2wan_in_.in
  tests/calculations/test_z2pack/test_input_files_base_no_soc_aiida_win_.in
  tests/calculations/test_z2pack/test_input_files_base_no_soc_z2pack_aiida_py_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_aiida_nscf_in_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_aiida_pw2wan_in_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_aiida_win_.in
  tests/calculations/test_z2pack/test_input_files_base_with_soc_z2pack_aiida_py_.in
Due: tests

Fixed bug that would cause the restart workchain to keep going after 2 consecutive failures to produce the file `save.json`
  aiida_z2pack/workchains/base.py
Due: yapf
